In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
# How many people of each race are represented in this dataset? This should be a Pandas series with race 
# names as the index labels. (race column)
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [6]:
# What is the average age of men?
average_age_men = round(df.loc[df['sex'] == 'Male', 'age'].mean(),1)
average_age_men

39.4

In [7]:
# What is the percentage of people who have a Bachelor's degree?
pct_bachelors = round((df.loc[df['education'] == 'Bachelors', 'education'].count() / df['education'].count()) * 100,1)
pct_bachelors

16.4

In [8]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
advanced_education_and_over50k = df.loc[df['education'].isin(['Bachelors','Masters','Doctorate']) & (df['salary'] == '>50K'),'education'].count()
advanced_education = df.loc[df['education'].isin(['Bachelors','Masters','Doctorate']),'education'].count()
pct_advanced_over50k = round((advanced_education_and_over50k / advanced_education) * 100, 2)
pct_advanced_over50k

46.54

In [9]:
# What percentage of people without advanced education make more than 50K?
not_advanced_and_over50k = df.loc[~df['education'].isin(['Bachelors','Masters','Doctorate']) & (df['salary'] == '>50K'),'education'].count()
not_advanced_education = df.loc[~df['education'].isin(['Bachelors','Masters','Doctorate']),'education'].count()
pct_not_advanced_over50k = round((not_advanced_and_over50k / not_advanced_education) * 100, 2)
pct_not_advanced_over50k

17.37

In [10]:
# What is the minimum number of hours a person works per week?
min_hours_per_week = df['hours-per-week'].min()
min_hours_per_week

1

In [11]:
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
num_min_workers = df.loc[(df['hours-per-week'] == 1) & (df['salary'] == '>50K'), 'salary'].count()
pct_rich = round((num_min_workers / df.loc[df['hours-per-week'] == 1,'salary'].count()) * 100, 1)
pct_rich

10.0

In [12]:
# What country has the highest percentage of people that earn >50K and what is that percentage?
rich_countries = df.loc[df['salary'] == '>50K', 'native-country'].value_counts()
countries = df['native-country'].value_counts()
rich_countries['Iran'] , countries['Iran']
pct_rich_by_country = round((rich_countries / countries) * 100,1)
top_rich_countries = pct_rich_by_country.sort_values(ascending=False).head()
top_rich_countries

Iran      41.9
France    41.4
India     40.0
Taiwan    39.2
Japan     38.7
Name: native-country, dtype: float64

In [13]:
# Identify the most popular occupation for those who earn >50K in India.

In [14]:
top_IN_occupation = df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K'), 'occupation'].value_counts().index[0]
top_IN_occupation

'Prof-specialty'

In [15]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df.loc[df['education'].isin(['Bachelors','Masters','Doctorate']),'education'].count()
lower_education = df.loc[~df['education'].isin(['Bachelors','Masters','Doctorate']),'education'].count()

# percentage with salary >50K
higher_education_rich = round((df.loc[df['education'].isin(['Bachelors','Masters','Doctorate']) & (df['salary'] == '>50K'),'education'].count() / higher_education) * 100, 2)
lower_education_rich = round((df.loc[~df['education'].isin(['Bachelors','Masters','Doctorate']) & (df['salary'] == '>50K'),'education'].count() / lower_education) * 100, 2)